@model FutureStage.Models.School

@{
    ViewData["Title"] = "SchoolProfile";
}

    <div class="school-profile text-center">
        <img src="@Model.ImagePath" alt="School Image" class="school-image">
        <h2 class="school-name">@Model.Name</h2>
        <div class="school-info">
            <span>Address:</span> @Model.Address<br>
            <span>Establishment Date:</span> @Model.EstablishmentDate.ToString("dd/MM/yyyy")<br>
            <span>Email:</span> @Model.EmailID<br>
            <span>Contact No:</span> @Model.ContactNo<br>
            <span>Area:</span> @Model.Area.AreaName
        </div>
    </div>

