@model Quoto

@{
    ViewData["Title"] = "List of Quotos";
}

<div class="row">
    <div class="col-md-8 offset-md-2 mt-5">
        <h4 class=" table-title shadow py-3 mt-5">Quotos</h4>
    </div>
    @if (TempData["AlertMessage"] != null)
    {
        <div class="col-md-8 offset-md-2 my-2">
            <div class="alert alert-hide alert-success alert-dismissible fade show" role="alert">
                <strong>Success!</strong>  @TempData["AlertMessage"]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    }
    <div class="col-md-8 offset-md-2">
        <table class="table">
            <thead>
                <tr class="text-center">
                    <th class="align-middle">Sr. No</th>
                    <th class="align-middle">@Html.DisplayNameFor(m => m.QuotoName)</th>
                    <th class="align-middle">Actions</th>
                </tr>
            </thead>
            <tbody>
                @{ int srno = 1;
                    foreach (var item in ViewBag.Quotos)
                    {
                    <tr class="text-center">
                        <td>@srno</td>
                        <td class="align-middle">@item.QuotoName</td>
                        <td>
                            <div class="d-flex justify-content-center">
                                <a data-bs-toggle="modal" data-bs-target="#updateModal" class="btn btn-primary action-btn update-btn me-1" data-item-id="@item.ID">
                                    <span class="d-md-none"><i class="fa-regular fa-pen-to-square"></i></span>
                                    <span class="d-none d-md-inline">
                                        <i class="fa-regular fa-pen-to-square"></i> Edit
                                    </span>
                                </a>
                                <a data-bs-toggle="modal" data-bs-target="#deleteModal" class="btn btn-danger text-white action-btn delete-btn" data-item-id="@item.ID">
                                    <span class="d-md-none"><i class="fa-regular fa-trash-can"></i></span>
                                    <span class="d-none d-md-inline">
                                        <i class="fa-regular fa-trash-can"></i> Delete
                                    </span>
                                </a>
                            </div>
                        </td>
                    </tr>
                        srno++;
                    } }
            </tbody>
        </table>
    </div>
</div>

<!--Create Modal-->
<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateModalLabel">Add New Quoto</h5>
                <button type="button" class="btn-close form-close-btn" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-action="Create">
                    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                    <div class="mb-3">
                        <label class="form-label" asp-for="QuotoName"></label>
                        <input class="form-control" asp-for="QuotoName" />
                        <span class="text-danger" asp-validation-for="QuotoName"></span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary form-close-btn" data-bs-dismiss="modal">
                            Cancel
                        </button>
                        <input class="btn btn-success float-end" type="submit" value="Create" />
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<!--Create Modal-->
<!--Update Modal-->
<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateModalLabel">Update Quoto</h5>
                <button type="button" class="btn-close form-close-btn" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-action="Edit">
                    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                    <div>
                        <input type="hidden" asp-for="ID" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label" asp-for="QuotoName"></label>
                        <input class="form-control" asp-for="QuotoName" />
                        <span class="text-danger" asp-validation-for="QuotoName"></span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary form-close-btn" data-bs-dismiss="modal">
                            Cancel
                        </button>
                        <input class="btn btn-primary float-end" type="submit" value="Update" />
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<!--Update Modal-->
<!--Delete Modal-->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateModalLabel">Delete Quoto</h5>
                <button type="button" class="btn-close form-close-btn" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h4 class="py-3">Are you sure you want to delete this item?</h4>
                <form asp-action="Delete">
                    <input type="hidden" asp-for="ID" />
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            Cancel
                        </button>
                        <input class="btn btn-danger float-end" type="submit" value="Delete" />
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<!--Delete Modal-->

<script type="text/javascript">
    $(document).ready(function () {
        $('.update-btn').click(function () {
            var itemId = $(this).data('item-id');

            $.ajax({
                url: '/SiteAdmin/Quota/Edit',
                type: 'GET',
                data: { id: itemId },
                dataType: 'json',
                success: function (data) {
                    $('#updateModal #QuotoName').val(data.quotoName);
                    $('#updateModal #ID').val(itemId);
                },
                error: function (err) {
                    
                }
            });
        });

        $('.delete-btn').click(function () {
            var itemId = $(this).data('item-id');

            $('#deleteModal #ID').val(itemId);
        })

        $('.form-close-btn').click(function () {
            $('#updateModal .text-danger').text('');
            $('#createModal .text-danger').text('');
        })
    });
</script>


@await Html.PartialAsync("_CreateItem", "Quota")