@using Microsoft.AspNetCore.Http
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

    <title>crud dashboard</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">

    <link href="~/SchoolsAssets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/toastr/toastr.min.css" rel="stylesheet" />
    <link href="~/SchoolsAssets/css/custom.css" rel="stylesheet" />

    
    <script src="~/SchoolsAssets/js/jquery-3.3.1.min.js"></script>
    <script src="~/SchoolsAssets/js/popper.min.js"></script>
    <script src="~/SchoolsAssets/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/toastr/toastr.min.js"></script>
    <script src="~/SchoolsAssets/js/CustomJS.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/js/all.min.js"></script>
</head>
<body>
    <div class="wrapper">
        <div class="body-overlay"></div>
        <!-- Sidebar Design -->
        <div id="sidebar">
            <div class="sidebar-header">
                <div class="logo">
                    <h4 class="shadow bg-light p-1 m-0">FUTURE<span>STAGE</span></h4>
                </div>
            </div>
            <ul class="list-unstyled components m-0">
                <li class="active">
                    <a href="#" class="dashboard"><i class="fas fa-tachometer-alt"></i> dashboard</a>
                    <div style="margin-top:10px;"><hr /></div>
                </li>
                <li class="dropdown">
                    <a href="#homeSubmenu1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="fas fa-question-circle"></i> Enquiry
                    </a>
                    <ul class="collapse list-unstyled menu" id="homeSubmenu1">
                        <li>
                            <a asp-action="NewEnquiry" asp-controller="Enquiry" asp-area="Schools" asp-route-id="@Context.Session.GetInt32("ID")">
                                <i class="fas fa-envelope"></i>
                                New Enquiry
                            </a>
                        </li>
                        <li>
                            <a asp-action="ConfirmedEnquires" asp-controller="Enquiry" asp-area="Schools" asp-route-id="@Context.Session.GetInt32("ID")">
                                <i class="fas fa-check-circle"></i>
                                Confirmed Enquiry
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a asp-action="Index" asp-controller="FeeHead" asp-area="Schools" asp-route-id="@Context.Session.GetInt32("ID")">
                        <i class="fas fa-dollar-sign"></i>
                        FeeHead
                    </a>
                </li>
                <li class="">
                    <a asp-action="Index" asp-controller="SchoolStandard" asp-area="Schools" asp-route-id="@Context.Session.GetInt32("ID")">
                        <i class="fas fa-chalkboard"></i>
                        School Standard
                    </a>
                </li>
                <li class="">
                    <a asp-action="Index" asp-controller="SchoolFacility" asp-area="Schools" asp-route-id="@Context.Session.GetInt32("ID")">
                        <i class="fas fa-building"></i>
                        Facility
                    </a>
                </li>
                <li class="">
                    <a asp-action="Index" asp-controller="SchoolAchivement" asp-area="Schools" asp-route-id="@Context.Session.GetInt32("ID")">
                        <i class="fas fa-ribbon"></i>
                        Achivements
                    </a>
                </li>
                <li class="">
                    <a asp-action="Index" asp-controller="StandardFees" asp-area="Schools" asp-route-id="@Context.Session.GetInt32("ID")">
                        <i class="fas fa-credit-card"></i>
                        Standard Fees
                    </a>
                </li>
                <li class="">
                    <a asp-action="Index" asp-controller="Admission" asp-area="Schools" class="">
                        <i class="fas fa-user-graduate"></i>
                        Admissions
                    </a>
                </li>
                <li class="">
                    <a asp-action="Index" asp-controller="SchoolEducationBoards" asp-area="Schools"  class="">
                        <i class="fas fa-university"></i>
                        Boards
                    </a>
                </li>
            </ul>
        </div>
        <!-- Sidebar Design - Close -->
        <!-- Page Content Start -->
        <div id="content">
            <!-- Top Navbar -->
            <div class="top-navbar">
                <div class="xd-topbar">
                    <div class="row">
                        <div class="col-2 col-md-1 col-lg-1 order-2 order-md-1 align-self-center">
                            <div class="xp-menubar">
                                <span class="material-icons text-white">signal_cellular_alt</span>
                            </div>
                        </div>

                        <div class="col-10 col-md-11 col-lg-11 order-1 order-md-3">
                            <div class="xp-profilebar text-right">
                                <nav class="navbar p-0">
                                    <ul class="nav navbar-nav flex-row ml-auto">

                                        <li class="dropdown nav-item">
                                            <a class="nav-link" href="#" data-toggle="dropdown">
                                                <span class="material-icons" style="font-size:30px;">
                                                    person
                                                </span>
                                            </a>
                                            <ul class="dropdown-menu small-menu">
                                                <li>
                                                    <a asp-action="SchoolProfile" asp-controller="Home" asp-area="Schools" asp-route-id="@Context.Session.GetInt32("ID")">
                                                        <span class="material-icons">person_outline</span>
                                                        My Profile
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-action="UpdateSchoolProfile" asp-controller="Home" asp-area="Schools" asp-route-id="@Context.Session.GetInt32("ID")">
                                                        <span class="material-icons">edit</span>
                                                        Edit Profile
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-action="ChangePassword" asp-controller="Home" asp-area="Schools" asp-route-id="@Context.Session.GetInt32("ID")">
                                                        <span class="material-icons">lock</span>
                                                        Password
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-action="Logout" asp-controller="ManageSchools" asp-area="">
                                                        <span class="material-icons">logout</span>
                                                        Logout
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Top Navbar - End -->
            <!-- Main Content Start -->
            <div class="main-content">
                <div class="row">
                    <div class="col-md-12">
                        @RenderBody()
                    </div>
                </div>
            </div>
            <!-- Main Content End -->
            <!-- Footer Design -->
            <footer class="footer">
                <div class="container-fluid">
                    <div class="footer-in">
                        <p class="mb-0">&copy; 2023 Future Stage. All Rights Reserved.</p>
                    </div>
                </div>
            </footer>
            <!-- Footer Design - End -->
        </div>
    </div>
    @if (TempData["SuccessMessage"] != null)
    {
        <script>
            $(function () {
                toastr.success('@TempData["SuccessMessage"]', 'Success Alert', { timeOut: 3000, "closeButton": true });
            });
        </script>
    }

    @if(TempData["UpdateProfileMessage"] != null)
            {
                <script>
                    $(function () {
                        toastr.success('@TempData["UpdateProfileMessage"]', "Success Alert", { timeOut: 3000, "closeButton": true });
                    })
                </script>
            }

    @if(TempData["ChangePasswordMessage"] != null)
            {
                <script>
                    $(function () {
                        toastr.success('@TempData["ChangePasswordMessage"]', "Success Alert", { timeOut: 3000, "closeButton": true });
                    });
                </script>
            }

    <script type="text/javascript">
        $(document).ready(function () {
            $(".xp-menubar").on('click', function () {
                $("#sidebar").toggleClass('active');
                $("#content").toggleClass('active');
            });
            $('.xp-menubar,.body-overlay').on('click', function () {
                $("#sidebar,.body-overlay").toggleClass('show-nav');
            });
        });
    </script>
</body>



</html>


