@model SchoolStandard

@if (TempData["AlertMessage"] != null)
{
    <div class="col-md-12 my-2">
        <div id="myAlert" class="alert alert-hide alert-success alert-dismissible fade show" role="alert">
            <strong>Success!</strong>  @TempData["AlertMessage"]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
}
<div class="table-wrapper">
    <div class="table-title">
        <div class="row">
            <div class="col-sm-6 p-0 flex justify-content-lg-start justify-content-center">
                <h2 class="ml-lg-2">Manage School Standards</h2>
            </div>

            <div class="col-sm-6 p-0 flex justify-content-lg-end justify-content-center">
                <a data-toggle="modal" data-target="#addModal" class="btn btn-lg btn-success">
                    <i class="material-icons">&#xE147;</i>
                    <span>Add New Standard</span>
                </a>
            </div>
        </div>
    </div>

    <table class="table table-bordered table-hover">
        <thead>
            <tr class="text-center">
                <th>
                    Sr. No
                </th>
                <th>Standard</th>
                <th>Intake Capacity</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            @{ int no = 1;
                foreach (var item in ViewBag.SchoolStandards)
                {
                    <tr class="text-center">
                        <td>
                            @no
                        </td>
                        <td>@item.Standard.StandardName</td>
                        <td>@item.IntakeCapacity</td>
                        <td>
                            <a data-toggle="modal" data-target="#updateModal" class="edit text-primary update-btn" data-item-id="@item.ID">
                                <i class="material-icons" title="Edit">&#xE254;</i>
                            </a>

                            <a data-toggle="modal" data-target="#deleteModal" class="delete text-danger delete-btn" data-item-id="@item.ID">
                                <i class="material-icons" title="Delete">&#xE872;</i>
                            </a>
                        </td>
                    </tr>

                    no++;
                }
            }
        </tbody>


    </table>

    <div class="clearfix">
        <div class="hint-text">showing <b>5</b> out of <b>25</b></div>
        <ul class="pagination">
            <li class="page-item disabled"><a href="#">Previous</a></li>
            <li class="page-item "><a href="#" class="page-link">1</a></li>
            <li class="page-item "><a href="#" class="page-link">2</a></li>
            <li class="page-item active"><a href="#" class="page-link">3</a></li>
            <li class="page-item "><a href="#" class="page-link">4</a></li>
            <li class="page-item "><a href="#" class="page-link">5</a></li>
            <li class="page-item "><a href="#" class="page-link">Next</a></li>
        </ul>
    </div>

    <!-- add - model - start -->
    <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="max-width:600px;" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addModalLabel">Add Class Capacity</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form asp-action="Create">
                    <div class="modal-body">
                        <div class="row mb-4">
                            <div class="col-md">
                                <div class="form-group">
                                    <label class="form-label">Select Class</label>
                                    <select class="form-control" asp-for="StandardID" asp-items="ViewBag.Standards">
                                        <option disabled>- select class -</option>
                                    </select>
                                    <span class="text-danger" asp-validation-for="StandardID"></span>
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="form-group">
                                    <label class="form-label">Intake Capacity</label>
                                    <input id="intakecapacity" asp-for="IntakeCapacity" type="number" class="form-control" readonly />
                                </div>
                            </div>
                        </div>
                        <div class="mb-4" style="border:1px solid black;padding:1rem 2rem 1rem 2rem">
                            @await Component.InvokeAsync("QuotoVC")
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <input type="submit" class="btn btn-success" value="Add" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- add - model - end -->
    <!-- update - model - start -->
    <div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="max-width:600px;" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateModalLabel">Update Class Capacity</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form asp-action="edit">
                    <div class="modal-body">
                        <div>
                            <input asp-for="ID" type="hidden" />
                        </div>
                        <div class="row mb-4">
                            <div class="col-md">
                                <div class="form-group">
                                    <label class="form-label">Select Class</label>
                                    <select class="form-control" asp-for="StandardID" asp-items="ViewBag.Standards">
                                        <option disabled>- select class -</option>
                                    </select>
                                    <span class="text-danger" asp-validation-for="StandardID"></span>
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="form-group">
                                    <label class="form-label">Intake Capacity</label>
                                    <input id="intakecapacity" asp-for="IntakeCapacity" type="number" class="form-control" readonly />
                                </div>
                            </div>
                        </div>

                        @if (TempData["SchoolStandardId"] != null)
                        {
                            <div class="mb-4" style="border:1px solid black;padding:1rem 2rem 1rem 2rem">
                                @await Component.InvokeAsync("EditQuotoVC", TempData["SchoolStandardId"])
                            </div>
                        }

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <input type="submit" class="btn btn-primary" value="Update" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- update - model - end -->

    <!----delete-modal start--------->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete Confirmation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form asp-action="Delete">
                    <div class="modal-body">
                        <div>
                            <input asp-for="ID" type="hidden" />
                        </div>
                    </div>
                    <h5 class="mx-3 mb-3">Are you sure you want to delete this?</h5>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <input type="submit" class="btn btn-danger" value="Confirm" />
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!----delete-modal end--------->


</div>


<script>
    $(document).ready(function () {
        $('.noofseats').on('input', function () {
            var sum = 0;
            $('.noofseats').each(function () {
                var inputValue = parseInt($(this).val());

                if (!isNaN(inputValue)) {
                    sum += inputValue;
                }
            });
            $('#intakecapacity').val(sum);
        });
        $('.update-btn').click(function () {
            itemId = $(this).data('item-id');

            $.ajax({
                url: '/Schools/SchoolStandard/Edit',
                type: 'GET',
                data: { id:itemId },
                dataType: 'json',
                success: function (response) {
                    $('#updateModal #ID').val(itemId);
                    $('#updateModal #IntakeCapacity').val(response.intakeCapacity);
                    $('#updateModal select').val(response.standardId);
                    
                },
                error: function () {
                    alert("An error occured while retrieving data.")
                }
            });
        });
        $('.delete-btn').click(function () {
            var itemId = $(this).data('item-id');

            $('#deleteModal #ID').val(itemId);
        })
    });
</script>