<<<<<<< HEAD
﻿<div class="container-filter">
    <div class="search-bar">
        <select id="state" class="custom-select advance-search">
            <option value="-1" selected>Choose a state</option>
            @foreach (var state in ViewBag.States)
            {
                <option value="@state.ID">@state.StateName</option>
            }
        </select>
        <select id="city" class="custom-select advance-search">
            <option value="-1" selected>Choose an city</option>
=======
﻿<div class="container" style="margin-top:2rem;">
    <div class="search-bar">
        <select class="custom-select">
            <option selected disabled>Choose a area</option>
            @foreach(var area in ViewBag.Areas)
            {
                <option value="@area.ID">@area.AreaName</option>
            }
        </select>
        <select class="custom-select">
            <option selected disabled>Choose an city</option>
>>>>>>> Fixing_Merged_Issue
            @foreach (var city in ViewBag.Cities)
            {
                <option value="@city.ID">@city.CityName</option>
            }
        </select>
<<<<<<< HEAD
        <select id="area" class="custom-select advance-search">
            <option value="-1" selected>Choose an area</option>
            @foreach (var area in ViewBag.Areas)
            {
                <option value="@area.ID">@area.AreaName</option>
            }
        </select>
        <button type="button"s id="advanceSearchBtn">Search</button>
    </div>
</div>
=======
        <select class="custom-select">
            <option selected disabled>Choose an state</option>
            @foreach (var state in ViewBag.States)
            {
                <option value="@state.ID">@state.StateName</option>
            }
        </select>
        <button type="submit">Search</button>
    </div>
</div>
>>>>>>> Fixing_Merged_Issue
