@model IEnumerable<Facility>

@{ 
    ViewData["Title"] = "List of facilities";
}

<div class="row">
    <div class="col-md-8 offset-md-2 mt-5">
        <h4 class=" table-title shadow py-3 mt-5">FACILITIES</h4>
    </div>
    <div class="col-md-8 offset-md-2">
        <table class="table">
            <thead>
                <tr class="text-center">
                    <th class="align-middle">@Html.DisplayNameFor(m => m.FacilityTitle)</th>
                    <th class="align-middle">@Html.DisplayNameFor(m => m.FacilityDescription)</th>
                    <th class="align-middle">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="text-center">
                        <td class="align-middle">@item.FacilityTitle</td>
                        <td class="align-middle">@item.FacilityDescription</td>
                        <td>
                            <a class="btn btn-primary action-btn" asp-action="Edit" asp-route-id="@item.ID">
                                <i class="fa-regular fa-pen-to-square"></i> Edit
                            </a>
                            <a class="btn btn-danger text-white action-btn" asp-action="Delete" asp-route-id="@item.ID">
                                <i class="fa-regular fa-trash-can"></i> Delete
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@await Html.PartialAsync("_CreateItem", "Facility")